#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#contenedor > div {
    width: 10%;
}

#mayor {
    background-color: gainsboro;
}
.centrado{
    max-width: 500px;
}
